In [1]:
import pandas as pd
import numpy as np
from stats_can import StatsCan

In [ ]:
# bc = pd.read_csv('/home/austin/Desktop/nwhacks/BC/98-401-X2016070_English_CSV_data.csv')
# ab = pd.read_csv('/home/austin/Desktop/nwhacks/Alberta/98-401-X2016069_English_CSV_data.csv')
# on = pd.read_csv('/home/austin/Desktop/nwhacks/Ontario/98-401-X2016066_English_CSV_data.csv')
can = pd.read_csv('/home/austin/Downloads/98-401-X2016059_eng_CSV/98-401-X2016059_English_CSV_data.csv')

In [ ]:
# test = pd.read_csv('/home/austin/Downloads/CensusProfile2016-ProfilRecensement2016-20200111084058.csv', encoding = 'unicode_escape')

In [ ]:
van = bc[bc["GEO_NAME"] == "Vancouver"].reset_index()
van

In [ ]:
ab

In [ ]:
test

In [ ]:
sc = StatsCan()
# df = sc.table_to_df("98-316-X2016001")
df

In [ ]:
can

In [2]:
pc = pd.read_csv('/home/austin/Downloads/98-401-X2016048_eng_CSV(3)/98-401-X2016048_English_CSV_data.csv')

/home/austin/Desktop/nwhacks/ltn/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
labour_data = pc[pc['GEO_NAME'] == "Vancouver"].reset_index().iloc[1896:1918].reset_index()
labour_data

,level_0,index,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GEO_NAME,GNR,GNR_LF,DATA_QUALITY_FLAG,ALT_GEO_CODE,DIM: Profile of Population Centres (2247),Member ID: Profile of Population Centres (2247),Notes: Profile of Population Centres (2247),Dim: Sex (3): Member ID: [1]: Total - Sex,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
0,1896,1370319,2016,973,1,Vancouver,4.4,5.7,1,973,Total Labour Force population aged 15 years an...,1897,226.0,1.25496e+06,651180,603790
1,1897,1370320,2016,973,1,Vancouver,4.4,5.7,1,973,Industry - NAICS2012 - not applicable,1898,227.0,23720,11055,12670
2,1898,1370321,2016,973,1,Vancouver,4.4,5.7,1,973,All industry categories,1899,228.0,1.23124e+06,640125,591125
3,1899,1370322,2016,973,1,Vancouver,4.4,5.7,1,973,"11 Agriculture, forestry, fishing and hunting",1900,NaN,10325,5340,4980
4,1900,1370323,2016,973,1,Vancouver,4.4,5.7,1,973,"21 Mining, quarrying, and oil and gas extraction",1901,NaN,4045,2890,1150
5,1901,1370324,2016,973,1,Vancouver,4.4,5.7,1,973,22 Utilities,1902,NaN,6325,4060,2265
6,1902,1370325,2016,973,1,Vancouver,4.4,5.7,1,973,23 Construction,1903,NaN,89035,77825,11210
7,1903,1370326,2016,973,1,Vancouver,4.4,5.7,1,973,31-33 Manufacturing,1904,NaN,78265,52420,25845
8,1904,1370327,2016,973,1,Vancouver,4.4,5.7,1,973,41 Wholesale trade,1905,NaN,50820,33080,17745
9,1905,1370328,2016,973,1,Vancouver,4.4,5.7,1,973,44-45 Retail trade,1906,NaN,139465,65525,73940
10,1906,1370329,2016,973,1,Vancouver,4.4,5.7,1,973,48-49 Transportation and warehousing,1907,NaN,68470,53005,15470
11,1907,1370330,2016,973,1,Vancouver,4.4,5.7,1,973,51 Information and cultural industries,1908,NaN,47820,30085,17735
12,1908,1370331,2016,973,1,Vancouver,4.4,5.7,1,973,52 Finance and insurance,1909,NaN,60870,26910,33965
13,1909,1370332,2016,973,1,Vancouver,4.4,5.7,1,973,53 Real estate and rental and leasing,1910,NaN,32600,17940,14660
14,1910,1370333,2016,973,1,Vancouver,4.4,5.7,1,973,"54 Professional, scientific and technical serv...",1911,NaN,123930,69685,54250
15,1911,1370334,2016,973,1,Vancouver,4.4,5.7,1,973,55 Management of companies and enterprises,1912,NaN,2915,1330,1585
16,1912,1370335,2016,973,1,Vancouver,4.4,5.7,1,973,"56 Administrative and support, waste managemen...",1913,NaN,56980,32965,24005
17,1913,1370336,2016,973,1,Vancouver,4.4,5.7,1,973,61 Educational services,1914,NaN,92000,31715,60285
18,1914,1370337,2016,973,1,Vancouver,4.4,5.7,1,973,62 Health care and social assistance,1915,NaN,127730,26480,101255
19,1915,1370338,2016,973,1,Vancouver,4.4,5.7,1,973,"71 Arts, entertainment and recreation",1916,NaN,28825,14610,14210
20,1916,1370339,2016,973,1,Vancouver,4.4,5.7,1,973,72 Accommodation and food services,1917,NaN,105250,46385,58865
21,1917,1370340,2016,973,1,Vancouver,4.4,5.7,1,973,81 Other services (except public administration),1918,NaN,56140,23020,33120

In [14]:
labour_data[""]

CENSUS_YEAR                                                                         2016
GEO_CODE (POR)                                                                         1
GEO_LEVEL                                                                              1
GEO_NAME                                                                           Acton
GNR                                                                                  2.2
GNR_LF                                                                               5.3
DATA_QUALITY_FLAG                                                                      0
ALT_GEO_CODE                                                                           1
DIM: Profile of Population Centres (2247)          Industry - NAICS2012 - not applicable
Member ID: Profile of Population Centres (2247)                                     1898
Notes: Profile of Population Centres (2247)                                          227
Dim: Sex (3): Member ID: [1]: Total - Sex                                             70
Dim: Sex (3): Member ID: [2]: Male                                                    30
Dim: Sex (3): Member ID: [3]: Female                                                  35
Name: 1897, dtype: object

In [55]:
def get_attr(df, city, idx_min, idx_max, attrib_name):
    attrib_data = df[df['GEO_NAME'] == city].reset_index().iloc[idx_min:idx_max].reset_index()
    new_df = pd.DataFrame()
    new_df[attrib_name] = attrib_data["DIM: Profile of Population Centres (2247)"]
    new_df["count"] = attrib_data["Dim: Sex (3): Member ID: [1]: Total - Sex"]
    return new_df

# van = get_attr(pc, "Vancouver", 1898, 1918, "labour_category")
# edm = get_attr(pc, "Edmonton", 1898, 1918, "labour_category")
tor = get_attr(pc, "Toronto", 1899, 1918, "labour_category")
tor

                                      labour_category   count
0       11 Agriculture, forestry, fishing and hunting    5115
1    21 Mining, quarrying, and oil and gas extraction    3950
2                                        22 Utilities   13965
3                                     23 Construction  163810
4                                 31-33 Manufacturing  256170
5                                  41 Wholesale trade  128255
6                                  44-45 Retail trade  307460
7                48-49 Transportation and warehousing  153930
8              51 Information and cultural industries  100825
9                            52 Finance and insurance  233060
10              53 Real estate and rental and leasing   76725
11  54 Professional, scientific and technical serv...  317960
12         55 Management of companies and enterprises    7965
13  56 Administrative and support, waste managemen...  148930
14                            61 Educational services  208170
15               62 Health care and social assistance  265290
16              71 Arts, entertainment and recreation   57575
17                 72 Accommodation and food services  189685
18   81 Other services (except public administration)  123585

In [53]:
tor['rate'] = tor['count']/tor['count'].sum()

In [54]:
tor.sum()

labour_category    11 Agriculture, forestry, fishing and hunting2...
count                                                    2.76242e+06
rate                                                               1
dtype: object

In [64]:
tor["new_lab"] = tor["labour_category"].str.extract(r'.*? (.*)')

In [65]:
tor

,labour_category,count,new_lab
0,"11 Agriculture, forestry, fishing and hunting",5115,"Agriculture, forestry, fishing and hunting"
1,"21 Mining, quarrying, and oil and gas extraction",3950,"Mining, quarrying, and oil and gas extraction"
2,22 Utilities,13965,Utilities
3,23 Construction,163810,Construction
4,31-33 Manufacturing,256170,Manufacturing
5,41 Wholesale trade,128255,Wholesale trade
6,44-45 Retail trade,307460,Retail trade
7,48-49 Transportation and warehousing,153930,Transportation and warehousing
8,51 Information and cultural industries,100825,Information and cultural industries
9,52 Finance and insurance,233060,Finance and insurance
10,53 Real estate and rental and leasing,76725,Real estate and rental and leasing
11,"54 Professional, scientific and technical serv...",317960,"Professional, scientific and technical services"
12,55 Management of companies and enterprises,7965,Management of companies and enterprises
13,"56 Administrative and support, waste managemen...",148930,"Administrative and support, waste management a..."
14,61 Educational services,208170,Educational services
15,62 Health care and social assistance,265290,Health care and social assistance
16,"71 Arts, entertainment and recreation",57575,"Arts, entertainment and recreation"
17,72 Accommodation and food services,189685,Accommodation and food services
18,81 Other services (except public administration),123585,Other services (except public administration)